{% extends 'baseBack.html.twig' %}

{% block title %}Ajouter Fidelite
{% endblock %}

{% block body %}
  <a href="{{ path('app_fidelite_index') }}">
		<i class="fas fa-arrow-alt-circle-left"></i>
	</a>
	<h1>
		<span class="sidebar-icon">
			<i class="fas fa-plus" style="padding-right:3px"></i>
		</span>Créer une nouvelle Fidelite
	</h1>
	<br>
    {{ include('fidelite/_form.html.twig') }}

    <a href="{{ path('app_fidelite_index') }}">back to list</a>
{% endblock %}
