<form method="post" action="{{ path('app_evenement_delete', {'idEvenement': evenement.idEvenement}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet évenement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.idEvenement) }}">
    <button class="btn btn-danger d-inline-flex align-items-center"><i class="fas fa-trash" style="padding-right:3px"></i>Supprimer</button>
</form>
