{% extends 'baseBack.html.twig' %}
{% block title %}Modifier Evenement
{% endblock %}



{% block body %}
    <h1>
        <span class="sidebar-icon">
			<i class="fas fa-plus" style="padding-right:3px"></i>
		</span>Modifier Evenement
    </h1>
    <br>

    {{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

    

   
{% endblock %}
