{% extends 'baseBack.html.twig' %}

{% block title %}Ajouter Compétition
{% endblock %}

{% block body %}
<a href="{{ path('app_competition_index') }}">
		<i class="fas fa-arrow-alt-circle-left"></i>
	</a>
	<h1>
		<span class="sidebar-icon">
			<i class="fas fa-plus" style="padding-right:3px"></i>
		</span>Créer une nouvelle Competition
	</h1>	
	<br>

	{{ include('competition/_form.html.twig') }}


{% endblock %}
