{% extends 'baseBack.html.twig' %}

{% block body %}
<div class="container">
<br>
    <h2 style="text-align:center;color:black">Modifier Mon profile</h2>
        {{ include('editprofileback/_form.html.twig', {'button_label': 'Update'}) }}

</div>
<br>
{% endblock %}