{% extends 'baseBack.html.twig' %}

{% block title %}Commentaire
{% endblock %}

<title>Nouveau Commentaire</title>

{% block body %}
   <h1>
        <span class="sidebar-icon">
			<i class="fas fa-plus" style="padding-right:3px"></i>
		</span>Créer un nouveau Commentaire
    </h1>
    <br>

    {{ include('commentaire/_form.html.twig') }}

    <a href="{{ path('app_commentaire_index') }}">back to list</a>
{% endblock %}
