{% extends 'baseBack.html.twig' %}

{% block title %}Modifier Catégorie
{% endblock %}

{% block body %}
	<a href="{{ path('app_categorie_index') }}">
		<i class="fas fa-arrow-left"></i>
	</a>
	<h1>
		<span class="sidebar-icon">
			<i class="fas fa-edit" style="padding-right:3px"></i>
		</span>Modifier Catégorie
	</h1>

	<br>

	{{ include('categorie/_form.html.twig', {'button_label': 'Mise à jour'}) }}


{% endblock %}
