{% extends 'baseBack.html.twig' %}

{% block title %}Ajouter Catégorie
{% endblock %}



{% block body %}
<a href="{{ path('app_categorie_index') }}"><i class="fas fa-arrow-alt-circle-left"></i></a>
 <h1>
        <span class="sidebar-icon">
            <i class="fas fa-plus" style="padding-right:3px"></i>
        </span>Créer une nouvelle Catégorie
    </h1>
    <br>

    {{ include('categorie/_form.html.twig') }}

    
{% endblock %}
