{% extends 'baseBack.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
    <a href="{{ path('app_offre_index') }}"></a>

 <i class="fas fa-arrow-left"></i>
	</a>
    
	<h1>
		<span class="sidebar-icon">
			<i class="fas fa-edit" style="padding-right:3px"></i>
		</span>Modifier Offre
	</h1>

	<br>
    {{ include('offre/_form.html.twig') }}


{% endblock %}
