{% extends 'baseBack.html.twig' %}

{% block title %}Ajouter Offre
{% endblock %}

{% block body %}
 <a href="{{ path('app_offre_index') }}">
   <i class="fas fa-arrow-alt-circle-left"></i>
	</a>
	<h1>
		<span class="sidebar-icon">
			<i class="fas fa-plus" style="padding-right:3px"></i>
		</span>Créer une nouvelle Offre
	</h1>	
	<br>

    {{ include('offre/_form.html.twig') }}

{% endblock %}
